<div class="wrapper">
  <app-filter-products (filter)="searchProductByName($event)" ></app-filter-products>
  <div class="card-deck">
    <div class="col-4 d-flex align-items-stretch" *ngFor="let p of filteredProducts; index as i">
    <div class="card mt-5">
      <img class="card-img-top" src="{{p.product_img}}">
      <div class="card-block">
        <h4 class="card-title">{{p.product_name}}</h4> 
        <p class="card-text">Manufactor : {{p.manufactor}}</p>
        <p class="card-text">Price : {{p.product_price}} &#x2764;</p>
      </div>  
      
      <button (click)="onAddClick(p)" class="btn btn-primary">Add to cart</button>
      <button [routerLink]="['/detail', p.id]" class="btn btn-secondary">See more details</button>
    </div> 
    </div> 
  </div>
  <div *ngIf="isEmpty" class="alert alert-secondary" role="alert">Pas de produits disponibles pour ce mot-clé.</div>
</div>  