<div class="wrapper">   
  <div>
    <button type="button" class="btn btn-primary btn-lg" (click)="backToProducts()">Back to products</button>
  </div>  
  <div *ngIf="currentProduct | async as p">
    <div class="card mt-5">
      <img class="card-img-top  mx-auto" src="{{p.product_img}}">
      <div class="card-block">        
        <h4 class="card-title">{{p.product_name}}</h4> 
        <table class="table table-dark">
        <tr>
          <td>Manufactor</td>
          <td>{{p.manufactor}}</td>
        </tr>
        <tr>  
          <td>Description</td>
          <td>{{p.description}}</td>
        </tr>        
        <tr>  
          <td>Race</td>
          <td>{{p.race}}</td>
        </tr>        
        <tr>  
          <td>Robe</td>
          <td>{{p.robe}}</td>
        </tr>
        <tr>  
          <td>Price</td>
          <td>{{p.product_price}} &#x2764;</td>
        </tr>
        </table>        
      <button (click)="onAddClick(p)" class="btn btn-primary">Add to cart</button>
      </div>          
    </div> 
  </div>
</div>  
