<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/products']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/registration']">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/shopping-cart']">Cart <span class="badge badge-light" >{{qty}}</span></a>
    </li>
  </ul>
</nav>
