
<div class="container custom">
  <div id="loginbox" class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="h3">Sign In</div>
      </div>
      <div style="padding-top:30px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form" [formGroup]="credentials" (ngSubmit)="login()">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" formControlName="username" aria-describedby="login">
          </div>
          <div class="form-group">
            <label for="password" aria-describedby="password">Password</label>
            <input type="password" class="form-control" formControlName="password"  id="password">
          </div>
          <div class="col-sm-12 controls">
            <button id="btn-login" type="submit" class="btn btn-lg btn-primary btn-block">Login </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
