<div class="wrapper">
  <h4>Your products</h4>
  <div class="card-deck">
    <div class="col-4 d-flex align-items-stretch" *ngFor="let p of articles | async">
      <div class="card-block">
        <div class="card mt-5">
          <img class="card-img-top  mx-auto" src="{{p.product_img}}">
          <div class="card-block">
            <h4 class="card-title">{{p.product_name}}</h4>
              <table class="table table-dark">
                <tr>
                  <td>Manufactor</td>
                  <td>{{p.manufactor}}</td>
                </tr>
                <tr>  
                  <td>Description</td>
                  <td>{{p.description}}</td>
                </tr>        
                <tr>  
                  <td>Race</td>
                  <td>{{p.race}}</td>
                </tr>        
                <tr>  
                  <td>Robe</td>
                  <td>{{p.robe}}</td>
                </tr>
                <tr>  
                  <td>Price</td>
                  <td>{{p.product_price}} &#x2764;</td>
                </tr>
            </table>
        </div>    
      </div> 
      <button class="btn btn-primary btn-lg" (click)="onDelClick(p)">Remove from cart</button>
    </div> 
  </div>
</div>
 </div> 
<div *ngIf="isEmpty" class="alert alert-info">The shopping cart is empty.</div>
